.equipo{
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
}

.equipo h3{
    font-weight: 400;
    color:#212121;
    border-bottom: 4px solid ;
    display: inline-block;
    padding-bottom: 0.5rem;

}
.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}