.boton-crear button{
    font-family: var(--fuente-1);
    border-radius: 0.625rem;
    font-weight: 700;
    font-size: 1.25rem;
    background: var(--color-btn);
    color: white;
    outline: none;
    border: none;
    padding: 1.5rem 2rem;
    margin: 2rem 0;
    cursor: pointer;
    transition: .5s ease;
}

.boton-crear button:hover{
    color: var(--color-btn-hover);
    transform: scale(1.04);
}