body {
  margin: 0;
  font-family: 'Prata', serif;
}
#root{
  --fuente-1: 'Montserrat', sans-serif;
  --fuente-2: 'Prata', serif;
  --color-btn: #6278F7;
  --color-btn-hover: #95FFD4;
  --color-P: #d9f7e9;
  --color-F: #E8F8FF;
  --color-D: #F0F8E2;
  --color-Dev: #FDE7E8;
  --color-Ux: #FAE9F5;
  --color-M: #FFF5D9;
  --color-I: #FFEEDF;
}
